body{
    background: #664AFF;
    padding: 0 20px;
  }

  ::selection{
    color: #fff;
    background: #664AFF;
  }

  /* .wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 450px;
    margin: 100px auto;
  }

  .wrapper .search-input{
    background: #fff;
    width: 450px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  } */

  .entry-title-div {
    position: relative;
    text-align: center;
    margin-top: 50px;
    color: #111111;
  }

  #entry-title {
    color: #efefef;
    font-size: 84px;
    font-weight: 800;
    line-height: 95.6px;
  }

  .main {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 450px;
    height: 350px;
    margin: 100px auto;
    z-index: 1;
  }

  .main .search-input {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .search-input #input-1{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }

  .search-input .icon{
    position: absolute;
    margin: 11px 5px 11px;
    right: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
  }

  .main .swap-btn-div {
    width: 100%;
    height: 90px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  #swap-img:hover {
    cursor: pointer;
  }

  .main .search-input-2 {
    position: absolute;
    top: 195px;
    display: flex;
    flex-direction: row;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-input-2 #input-2{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }

  .search-input-2 .icon{
    position: absolute;
    margin: 11px 5px 11px;
    right: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
  }

  .search-btn-div {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 290px;
    z-index: -1;
  }

  #search-btn {
    position: relative;
    background-color: #0a2a8d;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
  }

  #search-btn:hover {
    background-color: #2e0683;
  }

  .search-input.active #input{
    border-radius: 5px 5px 0 0;
    z-index: 9999;
  }

  /* .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  } */



  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #efefef;
  }



  .wrapper .search-input-2{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }

  .search-input-2 #input-2{
    height: 55px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }

  .search-input-2.active #input-2{
    z-index: 9999;
    border-radius: 5px 5px 0 0;
  }

  .search-input-2 .autocom-box-2{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
  }

  .search-input-2.active .autocom-box-2{
    position: absolute;
    width: 100%;
    background:#fff;
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    z-index: 9998;
    border-radius: 5px 5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.1);
  }

  .search-input-2.active .autocom-box-2::-webkit-scrollbar {
    appearance: none;
  }

  .autocom-box-2 li{
    list-style: none;
    padding: 16px 12px;
    height: 50px;
    width: 100%;
    display: none;
    cursor: default;
    border-radius: 3px;
  }

  .search-input-2.active .autocom-box-2 li{
    display: block;
  }
  .autocom-box-2 li:hover{
    background: #efefef;
  }

  .search-input-2 .icon{
    position: absolute;
    margin: 11px 5px 11px;
    right: 0px;
    height: 32px;
    width: 32px;
    text-align: center;
    justify-content: center;
  }