.nav-psngdetails {
    display: flex;
    justify-content: flex-end;
    position: relative;
    gap: 15px;
}

.user-name-div {
    text-align: center;
    display: inline-block;
}

#user-name-psngdetails {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#logout-btn-psngdetails {
    width: 150px;
    height: 50px;
    outline: none;
    background-color: #FEF4B2;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    border: 0;
}

#logout-btn-psngdetails:hover {
    color: white;
    background-color: black;
}
